html, body{
    padding: 0;
    margin: 0;
    color:#4A4A4A;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
}


nav {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    font-family: 'Roboto', sans-serif;
    background-color:white ;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 16px;
    font-size: 20px;
    color: dimgray;
}
.navmid {
    display: none;
}
.navrig :hover {
    color: maroon;
}

.navlef {
    display: flex;
    margin-left: 24px;
    font-size: 25px;
    font-weight: light;
    color: gray;
    
}
.navlef p {
    margin: 0;
}

.navrig {
    margin-right: 24px ;
    
}

.navlef .bold {
    font-weight: bold;
    color: black;
}

.first {
    background-color: #D8D8D8;
    display: flex;
}

.first img {
    width: 60%;
    margin: 32px 24px;
}

.learn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #4A4A4A;
    padding-left: 24px;
}

.learn h1 {
    font-size: 50px;
    font-weight: bolder;
    margin: 0 30px 20px 0 ;
    padding-right: 60px;
}
.learn p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 35px;
    padding-right: 50px;
}
.learn button {
    background-color: #4A4A4A;
    color:white;
    font-size: 20px;
    padding: 10px 100px;
    font-family: inherit;
    border: none; 
}
.mid {
    display: flex;
    background-color: F3F5F5;
}

.info{
    width: 65%;
}
.info img {
    width: 96%;
    margin: 32px 24px;
}
.info video {
    width: 90%;
    margin: 32px 24px;
}

.info h1 {
    color: #4A4A4A;
    margin: 0 0 24px 20px;
}

.info p {
    color:#4A4A4A;
    margin: 0 35px 32px 20px;
}

.cards  {
    width: 35%;
    display: flex;
    flex-direction: column;
    border-left: 1px lightgray solid;
    padding-top: 20px;
    color: #4A4A4A;
}

.info-cards {
    display: flex;
    align-items: center;
    border-bottom: lightgray 1px solid;
    padding: 0;
}

.cards :hover {
    background-color: #EAEBEC;
}
.big {
    display: none;
}

.info-imgs {
    width: 35%;
    height: auto; 
}

.info-imgs img {
    width: 100%;
    margin: 1rem;
}
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35px;
    
}
.information h2, p, a {
    margin:0 0 10px 0px;
    text-decoration: none;
}
.information a {
    color: #4B93DF;
}
.mid-two {
    background-color: #EAEBEC;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mid-two h1 {
    margin: 32px 10px;
}

.catagories {
    display: flex;
    flex-wrap: wrap;
    margin: 0 72px 32px 72px;
    justify-content: center;
}

.cat {
    color:#4A4A4A ;
    background-color: white;
    height: 370px;
    width: 350px;
    margin-left: 32px;
    margin-bottom: 32px;


}
.cat img {
    height: auto;
    width: 350px;
}
.cat h2 {
    margin:16px 8px  24px 16px;
}
.cat p {
    margin: 16px 8px  24px 16px;
}
.cat span {
     margin:16px 8px  24px 16px;
}

.catagories :hover {
    background-color:#D8D8D8
}

.ubran {
    display: flex;
}
.exhibit {
    text-align: center;
    margin: 32px 0px;
}
.ubran .cards {
    border: 0;
}
.ubran  p {
    margin-right: 32px;
}
footer {
    display: flex;
    justify-content: space-between;
    height: 90px;
    border-top: lightgrey 1px solid;
    padding: 16px 24px;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 16px;
        overflow-x: hidden;
    }
    .mid, footer{
        display: block;
    }
    nav {
        justify-content: center;
        border-bottom: #4A4A4A 1px solid;
    }
    .navlef,.navrig {
        display: none;
    }
    .navmid {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin : 0 20px
    }
    .navmid img {
        width: 30px;
        height: auto;
        display: flex;
        
    }
    .first{
        display: block;
        width: 100%;
    }
    .first img {
        width: 100%;
        margin: 0 0 32px 0;
        height:auto ;        
    }
    .learn h1  {
        font-size: 40px;
    }
    .learn p {
        font-size: 20px;
        margin-right: 60px;
    }
    .learn button {
        margin-bottom: 32px;
        background-color: #9B9B9B;
    }
    
    .mid .info, .info-imgs {
        display: none;
    }
    .cards {
        padding: 0;
        width: 100%;
    }
    .info-cards {
        flex-direction: column;
        width: 100%;
    }
    .big {
        justify-content: center;
        display: flex;
        width: 100%;
        ;
    }
    .big img {
        width: 93%;
        margin: 16px
    }
    .information {
        width: 100%;
        margin-bottom: 16px;
        padding-left: 16px;
    }
    .mid-two {
        background-color: #F5F4F5;
    }
    .cat img, .cat span, .cat p {
        display: none;
    }
    .cat {
        background-color: #D8D8D8;
        height: auto;
        margin: 0;
        margin-bottom: 8px;
    }
    .info h1, .info p, .ubran .cards{
        display: none ;
    }
    .ubran {
        width: 100%;
    }
    .info video {
       
        width: 150%;
    }








   
     
}

